:root {
    --light-green: #98b897;
    --light-yellow: #fccda9;
    --light-yellow-transparent: rgba(252, 205, 169, 0.7);
    --light-red: #f3827d;
    --normal-red: #c8344c;
    --background-green: #27363b;


}

.app {
    background-color: var(--background-green);
    min-height: 100vh;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--light-green);
    padding: .5rem 6rem;
}

.list-item-wrapper {
    position: relative;
    display: flex;
    width: fit-content;
    font-size: 20px;
    align-items: center;
}

.circle {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;

}

.white {
    background-color: var(--main-white);

}

.invisible {
    background-color: rgba(0,0,0,0);
}


#input-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: border ease-in-out 400ms, width ease-in-out 400ms;
    margin: 2rem;



}

#input-menu:not(.active) {
    width: 2rem;
    height: 2rem;
    border-radius: 30px;

}

.active {
    width: 70vw;
    height: calc(2rem * 1.1);
    border-radius: 30px;
    transition: border ease-in-out 400ms, width ease-in-out 400ms;


}

#input-menu:hover:not(.active) {
    cursor: pointer;
    opacity: .7;
    transform: scale(110%);
    transition: ease-in-out 400ms;

}

#toggle-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding: 1rem;
    z-index: 1;
    transition: ease-in-out 400ms;


}

.active #toggle-circle:hover {
    cursor: pointer;
    transform: scale(110%) rotate(45deg);
    background-color: rgba(39, 54, 59, 0.1);

}

.active #toggle-circle {
    transform: rotate(45deg);
    margin-right: auto;
    margin-left: .1em;
    padding: 1rem;transition: ease-in-out 400ms;


}

.fa-plus {
    color: var(--background-green);
    font-size: 20px;
    transition: ease-in-out 400ms;

}


.list-item, .list-text {
    transition: background-color ease-in-out 400ms, color ease-in-out 400ms;
    border-radius: 5px;

}


.list-item:hover:not(.done) .list-text { /* For the task, if it is unfinished */
    cursor: pointer;
    background-color: var(--light-yellow-transparent);
    color: var(--background-green);
    transition: background-color ease-in-out 400ms, color ease-in-out 400ms;
}

.list-item:hover .list-text { /* For the task, if it is finished */
    cursor: pointer;
    background-color: var(--light-green);
    color: var(--background-green);
    text-decoration: none;
    transition: ease-in-out 400ms;
}

.done .list-text {
    opacity: .7;
    text-decoration: line-through;
    transition: ease-in-out 400ms;

}

.list-item:not(.done) .list-bullet {
    color: var(--light-red);
    transition: ease-in-out 400ms;

}

.list-bullet {
    color: var(--light-green);
    transition: ease-in-out 400ms;
}

.list-text {
    padding: 0 .5rem;
}

.fa-trash-can {
    margin-left: 1.5em;
    margin-bottom: 1em;
    transition: color ease-in-out 400ms;

}

.fa-trash-can:hover {
    color: var(--main-red);
    transform: scale(110%);
    cursor: pointer;
    transition: ease-in-out 400ms;
}



